<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理员中心</title>
</head>
<body>
<a href="{{ url_for('admin.manageruser') }}">用户管理</a>
<a href="{{ url_for("admin.managegame") }}">比赛管理</a>
<a href="{{ url_for("admin.updown") }}">上传题目答案</a>
<a href="{{ url_for("admin.ranklist") }}">排行榜</a>
</body>
</html>