<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
{#<div>#}
{#    <a href="{{ url_for('user.register') }}">注册</a>#}
{#    <a href="{{ url_for('user.login') }}">登入</a>#}
{#    <a href="">退出</a>#}
{#</div>#}
<div>
    <h1>所有用户信息如下：</h1>
    <p> 搜索：<input type="text" name="search" placeholder="输入搜索的关键词"> <input type="button" value="搜索" id="search"></p>
    {% if users %}
        <table border="1" cellpadding="0" cellspacing="0">
            <tr>
{#                <th>序号</th>#}
{#                <th>用户名</th>#}
{#                <th>密码</th>#}
{#                <th>手机号</th>#}
                <th>时间</th>
                <th>用户名</th>
            </tr>
            {% for user in users %}
                <tr>
{#                    <th>{{ loop.index }}</th>#}
{#                    <th>{{ user.username }}</th>#}
{#                    <th>{{ user.password }}</th>#}
                    <th>{{ user.time }}</th>
                    <th>{{ user.username }}</th>
                    <th><a href="{{ url_for('admin.success') }}?id={{ user.id }}">success</a>
                        <a href="{{ url_for('admin.refuse') }}?id={{ user.id }}">refuse</a>
{#                        <a href="{{ url_for('user.selectname') }}">refuse</a>#}
                    </th>
{#                    <th>
{#                        <a href="">确定</a>#}
{#                        <a href="">驳回</a>#}
{#                    </th>#}

                </tr>
            {% endfor %}

        </table>
    {% else %}
        <p style="color: red; font-size: 20px;">请先注册用户</p>
    {% endif %}
    <a href="{{ url_for('admin.adminCenter') }}">退出</a>
</div>
<script>
    function myfunction() {

        window.location.href = '{{ url_for('user.selectname') }}';
    }
</script>

<script>
    $('#search').click(function (){
        let content = $("input[name='search']").val();
        location.href = '{{ url_for('user.selectname') }}?search='+content;
    })
</script>
</body>
</html>
