<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员上传</title>
</head>
<body>
<form action="" method="post">
    <p>管理员上传</p>
    <p>{{ msg }}</p>
    <p><input type="text" name="headline" placeholder="请输入标题"></p>
    <p><input type="textarea" name="text" placeholder="请输入题目"></p>
    <p><input type="text" name="grade" placeholder="请输入题目的分数"></p>
    <p><input type="text" name="answer" placeholder="请输入答案"></p>
    <p><input type="text" name="url" placeholder="请输入存放路径"></p>
    <p><input type="text" name="level" placeholder="请输入难度等级"></p>
    <p><input type="submit" value="确定"></p>
</form>
</body>
</html>